{% extends 'base.html.twig' %}

{% block title %}Sap-Lu application{% endblock %}

{% block body %}

    <div class="text-center mt-3">
        <div>
            <img src={{ asset('saplulogo.jpg') }} class="img-logo" alt="">
        </div>
    </div>

{% endblock %}
