{% extends 'base.html.twig' %}

{% block title %}Sap-Lu application{% endblock %}

{% block body %}

    <div class="text-center mt-3">
        <div>
            <img src="img/saplu.jpg" style="width:400px; height:400px;">
        </div>
    </div>

{% endblock %}
