body {
    background-color: #ecb3ff;
}

.navbar {
    background-color: #9c4eb6;
}

#tableUserInfo, #tableWorkInfo {
    background-color: #538cbb;
    table-layout: auto;
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link {
    color: rgb(255, 255, 255);
}

#iconoSaplu {
    width:50px;
    height:50px;
    margin-left:20px;
    margin-right:20px;
    margin-top:5px;
    float: left;
}

.img-logo {
    width:400px;
    height:400px;
}

.navbar-toggler {
    color: white;
    margin-left:20px;
    margin-right:20px;
}